<nav>
  <ul
    style="display: flex;
    justify-content: start;
    list-style: none"
  >
    <li><a href="/">Home</a></li>
    <li><a href="/films">Films</a></li>
    <li><a href="/games">Games</a></li>
    <li><a href="/clientes">Clientes</a></li>
    <li><a href="/dependentes">Dependentes</a></li>
  </ul>
</nav>