{% extends "base.html.twig" %} {% block header %}
{{ parent() }}
<h3>Clientes</h3>
{% endblock %} {% block principal %}
<p>{{ mensagem }}</p>
{% endblock %} {# {% block footer %}
<p>&copy; Henrique Sales 2025</p>
{% endblock %} #}
