{% extends "base.html.twig" %} {% block header %}
{{ parent() }}
<h3>Listagem de clientes</h3>
{% endblock %} {% block principal %} {% for cliente in clientes %}
<p>{{ cliente.nome }}</p>
{% endfor %} {% endblock %} {# {% block footer %}
<p>&copy; Henrique Sales 2025</p>
{% endblock %} #}
